

h1 {
    margin-bottom: 20px;
}

.test {
    width: 100%;
}

.fondo-div {
    background-color: bisque;
    text-align: center;
    height: 500px;
    padding-top: 20px;
    border-radius: 20px;
}


/*  HEADER DE VISUAL STUDIO  */



navbar-inverse {
    background-color: #922B21;
    height: 20px;
    width: 100%;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    transition: height 9.9s;
    top: 0;
    z-index: 19;
}

    .navbar-inverse .navbar-nav > li > a {
    color: #D6DBDF;
}






#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.menulateral:hover {
    color: #F2F3F4;
    background-color: #A93226;
   
}

.menulateral {
    z-index: 3;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: absolute;
    color: #F2F3F4;
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 11px;
    background-color: #CD6155;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-radius: 40px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 22px;
    font-weight: 500;
    top: 50%;
    left: 0.2%;
    transition: left 1.1s, background-color 0.5s, color 0.5s,border-radius 1.1s;
    width: 60px;
    height: 50px;
    line-height: 35px;
    opacity: 0.9;
}






#a:hover {
    background-color: rgb(255, 255, 255);
}

.checkbox-lateral:checked ~ .menulateral {
    left: 18%;
    color: #F2F3F4;
    background-color: #A93226;
    border-radius: 10px;
}


.left-panel-lateral {
    width: 20%;
    height: 90%;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 11px;
    background-color: #F2F3F4;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    position: absolute;
    top: 57px;
    left: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.9s;
    opacity: .8;
}

.checkbox-lateral:checked ~ .left-panel-lateral {
    left: 0;
}

.checkbox-lateral {
    display: none;
}

#ul #a {
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    user-select: none;
    font-size: 1px;
}

#li {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding: 0 0.5rem;
    margin: 1rem 0;
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    user-select: none;
    font-size: 10px;
}

    #li:hover {
        color: black;
        border: solid black;
        border-width: 0 0.1rem;
    }

#boton {
    z-index: 5;
    direction: ltr;
    text-align: center;
    position: absolute;
    color: #F2F3F4;
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 11px;
    background-color: #CD6155;
    padding: 8px;
    border-radius:1px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 22px;
    font-weight: 500;
    opacity: 1;
   
}
#boton:hover {
    color: #F2F3F4;
    background-color: #A93226;
}
    #drop:hover {
        background-color: darkblue;
    }

.container body-content {
    z-index: 0;
    top: 0;
}




#headerLogo {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: transparent;
    -webkit-transition: background-color .5s, margin-top .5s;
    position: fixed;
    z-index: 20;
    transition-delay: .2s;
}

#navLogo {
    display: table;
    margin: auto;
    margin-top: 15px;
    height: 40px;
    -webkit-transition: margin-left .5s, margin-top 0.5s;
}

.ulLogo {
    display: block;
    float: left;
    list-style: none;
    
}

    .ulLogo .liLogo {
        float: left;
        margin: 10px;
        padding: 2px;
        color: transparent;
    }

    .ulLogo .aLogo {
        color: #F3F3F3;
        text-decoration: none;
    }

img#logo {
    float: left;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 150px;
    
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
    transition-delay: .2s;
}



#rec {
    width: 100%;
    
    background-color: white;
    opacity: 1;
    position: absolute;
    z-index: 20;
    transition: opacity 2s,z-index 2s;
    transition-delay: .2s;
}