

h1 {
    margin-bottom: 20px;
}

.test {
    width: 100%;
}

.fondo-div {
    background-color: bisque;
    text-align: center;
    height: 500px;
    padding-top: 20px;
    border-radius: 20px;
}

.navbar-inverse {
    background-color: #922B21;
    height: 20px;
    width: 100%;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    transition: height 0.9s;
    top: 0;
}
    .navbar-inverse:hover {
        height: 60px;
    }


    .navbar-inverse .navbar-nav > li > a  {
        color: #D6DBDF;
    }




#scene {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom:;
    background-color: #ede9dd;
    z-index: 0;
}

#map {
    height: 100%;
    z-index: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.menulateral:hover {
    color: #D6DBDF;
    background-color: #CD6155;
    
    
}

.menulateral {
    z-index: 3;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: absolute;
    color: #D6DBDF;
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 11px;
    background-color: #A93226;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 22px;
    font-weight: 500;
    top: 50%;
    left: 0.2%;
    transition: left 1.1s;
    width: 60px;
    height: 50px;
    line-height: 35px;

}






#a:hover {
    background-color: rgb(255, 255, 255);
}

.checkbox-lateral:checked ~ .menulateral {
    left: 18%;
}


.left-panel-lateral {
    width: 20%;
    height: 90%;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 11px;
    background-color: #F2F3F4;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    position: absolute;
    top: 57px;
    left: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.9s;
    opacity: 1.2;
}

.checkbox-lateral:checked ~ .left-panel-lateral {
    left: 0;
}

.checkbox-lateral {
    display: none;
}

#ul #a {
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    user-select: none;
    font-size: 1px;
}

#li {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding: 0 0.5rem;
    margin: 1rem 0;
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    user-select: none;
    font-size: 10px;
}

    #li:hover {
        color: black;
        border: solid black;
        border-width: 0 0.1rem;
    }

