@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Pedidos Online</h1>

</div>

<div class="row">
    <div class="col-md-2 fondo-div">
        <label for="comidaVegana">Comida vegana?</label>
        <input type="checkbox" id="comidaVegana" value="primerCheckbox" />
    </div>

    <div class="col-md-8">
        <div id="map" style="height: 500px; width: 100%;"></div>
    </div>

    <div class="col-md-2 fondo-div">
        <h3>Prueba</h3>
    </div>

</div>



<script>

    var marker;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: { lat: -34.5979011, lng: -58.43593199999998 }
        });

        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: { lat: -34.5979011, lng: -58.43593199999998 }
        });
        marker.addListener('click', toggleBounce);
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpRBZnrnMtwFyxGD9Ve9AUvMUQdcDg_Rw&callback=initMap">
</script>

<p class="text-center"><button type="submit" class="btn btn-primary">Buscar!</button></p>