@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Pedidos Online</h1>
</div>








<p class="text-center"><button type="submit" class="btn btn-primary">Buscar!</button></p>


<input id="q" aria-hidden="true" autocomplete="off" name="q" tabindex="-1" type="url" jsaction="mousedown:ntp.fkbxclk" style="opacity: 0;">

