@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Pedidos Online</h1>

</div>




<!--
<div>
    <div id="map" style="height: 500px; width: 100%; top:0px"></div>
</div>


-->
<!--

<script>

    var marker;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: { lat: -34.5979011, lng: -58.43593199999998 }
        });

        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: { lat: -34.5979011, lng: -58.43593199999998 }
        });
        marker.addListener('click', toggleBounce);
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>

-->


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpRBZnrnMtwFyxGD9Ve9AUvMUQdcDg_Rw&callback=initMap">
</script>

<p class="text-center"><button type="submit" class="btn btn-primary">Buscar!</button></p>


<input id="q" aria-hidden="true" autocomplete="off" name="q" tabindex="-1" type="url" jsaction="mousedown:ntp.fkbxclk" style="opacity: 0;">

